[color]
  ui = true
[color "branch"]
  current = bold green
  local = bold yellow
  remote = bold red
[color "diff"]
  frag = magenta bold
  old = bold red
  new = bold green
  whitespace = white reverse
[color "status"]
  added = bold green
  changed = bold red
#  untracked = cyan reverse
#  branch = magenta
[alias]
  a = add
  st = status -s
  stw = status
  ci = commit -v
  cia = commit --amend –C HEAD
  cl = clone
  co = checkout
  br = branch
  rso = remote show origin
  # diffs
  df = diff
  dw = diff --word-diff
  dc = diff --word-diff --cached
  dcl = diff --cached
  # reset
  r = reset
  r1 = reset HEAD^
  r2 = reset HEAD^^
  rh = reset --hard
  rh1 = reset HEAD^ --hard
  rh2 = reset HEAD^^ --hard
  # stash
  sl = stash list
  sa = stash apply
  ss = stash save
  # logs
  ll = log --graph --pretty=format:"%C(bold)%C(yellow)%h%C(bold)%Cred%d\\ %Creset%s%C(bold)%C(cyan)\\ [%cn]" --decorate --numstat
  lnc = log --pretty=format:"%h\\ %s\\ [%cn]"
  lds = log --graph --pretty=format:"%C(bold)%C(yellow)%h\\ %ad%C(bold)%Cred%d\\ %Creset%s%C(bold)%C(cyan)\\ [%cn]" --decorate --date=short
  ld = log --graph --pretty=format:"%C(bold)%C(yellow)%h\\ %ad%C(bold)%Cred%d\\ %Creset%s%C(bold)%C(cyan)\\ [%cn]" --decorate --date=relative
  le = log --graph --oneline --decorate
  fl = log -u
  dl = "!git ll -1"
  dlc = diff --cached HEAD^
  dr  = "!f() { git diff "$1"^.."$1"; }; f"
  lc  = "!f() { git ll "$1"^.."$1"; }; f"
  diffr  = "!f() { git diff "$1"^.."$1"; }; f"
  # show aliases
  alias = ! git config --get-regexp ^alias\\. | sed -e s/^alias\\.// -e s/\\ /\\ =\\ /
  # show last tag
  lasttag = describe --tags --abbrev=0
  undo = reset --soft HEAD^
  showfiles = show --pretty=\"format:\" --name-only
  lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  ls = log --graph --pretty=format:%C(bold)%C(yellow)%h%C(bold)%Cred%d\\ %Creset%s%C(bold)%C(cyan)\\ [%cn] --decorate
  hide = update-index --assume-unchanged
  unhide = update-index --no-assume-unchanged
  lsf = "!git ls-files -v|grep '^h'|cut -c3-"

[push]
  # limit no arg push behavior to just the current branch
  default = tracking
[user]
  name = elena
  email = elena@email.com
[core]
  editor = vim
  # editor = subl -w -n
[log]
  decorate = short
